{% extends 'base.html' %}
{% load humanize %}

{% block content %}
    <h1>Producs</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td scope="row">{{ product.id }}</td>
                <td scope="row">{{ product.name }}</td>
                <td scope="row">${{ product.price|intcomma }}</td>
                <td scope="row">
                    <a class="btn btn-warning" href="{% url 'update_product' product.pk %}">Edit</a>
                    <a class="btn btn-danger" href="{% url 'delete_product' product.pk %}">Delete</a>
                </td>
            </tr>
            {% endfor %}

        </tbody>
    </table>

{% endblock %}